* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background: linear-gradient(180deg, #6f93d9 0%, #1742b0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.hide {
  display: none;
}
.container {
  background: #1a336f 40%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 40px;
  border-radius: 40px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1280px;
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
}
.form-input-container {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 2px solid #d9d9d9;
  margin-bottom: 20px;
}
.form input {
  padding: 12px;
  border: none;
  flex: 1;
  border-radius: 8px;
  font-size: 1rem;
  color: #7b7b7b;
}
.form::placeholder {
  font-size: 1rem;
  color: #7b7b7b;
}

.form button {
  padding: 10px 15px;
  margin-left: 20px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

#weather-data {
  text-align: left;
}
.titulo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 20px;
  color: #ffffff;
}
.titulo .nome-cidade {
  display: flex;
  margin-right: 12px;
  align-items: center;
  font-weight: 400;
  gap: 12px;
}
.info {
  display: flex;
  justify-content: right;
}
.info .hora {
  border-right: 2px solid #fff;
  padding-right: 12px;
  margin-right: 12px;
  max-height: 30px;
}

#country {
  height: 40px;
}

#description {
  text-transform: capitalize;
}

#description-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
}
#description-container img {
  min-height: 150px;
  margin-top: -20px;
}
#description-container p {
  width: fit-content;
  margin-left: 20px;
  font-size: 20px;
  color: #fff;
  margin-top: -20px;
}
.conteudo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
}
.temperaturas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-bottom: 12px;
  border-bottom: 2px solid #fff;
  margin-bottom: 12px;
  color: #fff;
}
.pequenas {
  text-align: right;
}
#temperature {
  font-size: 48px;
}
.dados {
  color: #fff;
}
.dados p {
  margin-bottom: 8px;
}
@media (max-width: 750px) {
  .conteudo-grid {
    grid-template-columns: 1fr;
  }
  .titulo {
    grid-template-columns: 1fr;
  }
  .info {
    margin-top: 12px;
    justify-content: center;
  }
  .titulo .nome-cidade {
    justify-content: center;
  }
  #description-container {
    margin: 0 auto;
    margin-bottom: 40px;
  }
}
